from flask import Flask, render_template, request, redirect, url_for, session, flash

app = Flask(__name__)
app.secret_key = 'blood-bridge-2026'

# Default login
users = {
    "blood": "bridge"
}

# Check login
def is_logged_in():
    return 'username' in session


@app.route('/')
def index():
    return render_template('index.html', username=session.get('username'))


@app.route('/login', methods=['GET','POST'])
def login():

    if request.method == 'POST':

        username = request.form['username']
        password = request.form['password']

        if username in users and users[username] == password:

            session['username'] = username
            flash("Login successful! Welcome to BloodBridge 🩸", "success")

            return redirect(url_for('index'))

        else:
            flash("Invalid Username or Password", "error")

    return render_template('login.html')


@app.route('/signup', methods=['GET','POST'])
def signup():

    if request.method == 'POST':

        username = request.form['username']
        password = request.form['password']

        users[username] = password

        flash("Account created successfully! Please login.", "success")

        return redirect(url_for('login'))

    return render_template('signup.html')


@app.route('/logout')
def logout():

    session.clear()
    flash("Logged out successfully!", "success")

    return redirect(url_for('index'))


if __name__ == '__main__':
    app.run(debug=True)